.section.section--6
	.section__content
		.section__content__title
			| Choose #[br] your lipstick
		.section__content__text
			| Our best assistants help you to choose your best lipstick
			| that fits you perfectly. You can be consulted in these shops:
		.section__content__contacts
			.section__content__contacts__card
				.section__content__contacts__card__pin
				.section__content__contacts__card__data
					.section__content__contacts__card__data__title
						| Boutique Dior, Palazzo
					.section__content__contacts__card__data__adress
						| 1556 Broadway, suite 416 #[br]
						| New York, NY, 10120, USA
					.section__content__contacts__card__data__phone
						| Phone: #[span +7 812 298 90 00]
			.section__content__contacts__card
				.section__content__contacts__card__pin
				.section__content__contacts__card__data
					.section__content__contacts__card__data__title
						| Boutique Dior, Palazzo
					.section__content__contacts__card__data__adress
						| 1556 Broadway, suite 416 #[br]
						| New York, NY, 10120, USA
					.section__content__contacts__card__data__phone
						| Phone: #[span +7 812 298 90 00]