.section.section--5
	.section__image-slider
		.section__image-slider__slide(style=`background-image: url(${require("./screen5-slide1.png")});`)
		.section__image-slider__slide(style=`background-image: url(${require("./screen5-slide2.png")});`)
		.section__image-slider__slide(style=`background-image: url(${require("./screen5-slide3.png")});`)
	.section__description-slider
		.section__description-slider__slide
			.section__description-slider__slide__title
				| Super moistening
			.section__description-slider__slide__description
				p
					| Dior ushers in a new era in lip makeup with the breakthrough creation
					| of a lipstick that boasts a hydra-gel core with a top coat effect for sensational mirror shine. Application after application, it works like a top coat, adding
					| an extra dose of shine and lasting colour with unbelievable comfort
				p
					| Dior ushers in a new era in lip makeup with the breakthrough creation
					| of a lipstick that boasts a hydra-gel core with a top coat effect for sensational mirror shine. Application after application, it works like a top coat, adding
					| an extra dose of shine and lasting colour with unbelievable comfort.
		.section__description-slider__slide
			.section__description-slider__slide__title
				| Lorem ipsum
			.section__description-slider__slide__description
				p
					| Dior ushers in a new era in lip makeup with the breakthrough creation
					| of a lipstick that boasts a hydra-gel core with a top coat effect for sensational mirror shine. Application after application, it works like a top coat, adding
					| an extra dose of shine and lasting colour with unbelievable comfort
				p
					| Dior ushers in a new era in lip makeup with the breakthrough creation.
		.section__description-slider__slide
			.section__description-slider__slide__title
				| Excepteur sint
			.section__description-slider__slide__description
				p
					| Dior ushers in a new era in lip makeup with the breakthrough creation
				p
					| Dior ushers in a new era in lip makeup with the breakthrough creation
					| of a lipstick that boasts a hydra-gel core with a top coat effect for sensational mirror shine. Application after application, it works like a top coat, adding
					| an extra dose of shine and lasting colour with unbelievable comfort.