extends ../components/common/layout.pug

block append head
	title Dior Addict

block append body
	include ../components/navigation/navigation.pug
	.fullpage
		include ../components/home/home.pug
		include ../components/section-2/section-2.pug
		include ../components/section-3/section-3.pug
		include ../components/section-4/section-4.pug
		include ../components/section-5/section-5.pug
		include ../components/section-6/section-6.pug
