extends ../components/common/layout.pug

block append head
	title Dior Addict

block append body
	include ../components/navigation/navigation.pug
	.fullpage
		include ../components/home/home.pug
		include ../components/assortment/assortment
		include ../components/about/about
		include ../components/articles/articles
		include ../components/advantages/advantages
		include ../components/contacts/contacts
