ul.navigation
	li.navigation__item.active(data-menuanchor='1')
		a(href='#home')
	li.navigation__item(data-menuanchor='2')
		a(href='#assortment')
	li.navigation__item(data-menuanchor='3')
		a(href='#about')
	li.navigation__item(data-menuanchor='4')
		a(href='#articles')
	li.navigation__item(data-menuanchor='5')
		a(href='#advantages')
	li.navigation__item(data-menuanchor='6')
		a(href='#contacts')