ul.navigation
	li.navigation__item.active(data-menuanchor='1')
		a(href='#1')
	li.navigation__item(data-menuanchor='2')
		a(href='#2')
	li.navigation__item(data-menuanchor='3')
		a(href='#3')
	li.navigation__item(data-menuanchor='4')
		a(href='#4')
	li.navigation__item(data-menuanchor='5')
		a(href='#5')
	li.navigation__item(data-menuanchor='6')
		a(href='#6')