.section.articles
	.articles__slider
		.articles__slide(style=`background-image: url(${require("./screen4-slide.jpg")});`)
			.articles__slide__wrapper
				.articles__slide__title
					| History #[br] of creation
				a.articles__slide__link(href="")
					| Watch
		.articles__slide(style=`background-image: url(${require("./screen4-slide.jpg")});`)
			.articles__slide__wrapper
				.articles__slide__title
					| The best #[br] products
				a.articles__slide__link(href="")
					| Watch
		.articles__slide(style=`background-image: url(${require("./screen4-slide.jpg")});`)
			.articles__slide__wrapper
				.articles__slide__title
					| Our famous #[br] customers
				a.articles__slide__link(href="")
					| Watch