//COLORS

$color-black: #000;
$color-white: #fff;
$color-pot-pourri: #f4e3e6;
$color-carousel-pink: #fef9fa;
$color-amour: #fcf3f5;
$color-azalea: #f8d5dd;
$color-cranberry: #dd6379;
$color-froly: #f5829b;
$color-chablis: #fff5f6;
$color-brink-pink: #fe6e89;
$color-pink-salmon: #ff839d;
$color-we-peep: #faebec;
$color-wisp-pink: #fef8f9;
$color-black-rose: #70051d;
$color-lavender-blush: #fff6f9;

// FONTS
$font-family-helvetica-neue: "HelveticaNeue", sans-serif;
$font-family-univers: "Univers", sans-serif;