//COLORS

$color-black: #000;
$color-white: #fff;
$color-pot-pourri: #f4e3e6;
$color-carousel-pink: #fef9fa;

// FONTS
$font-family-helvetica-neue: "HelveticaNeue", sans-serif;
$font-family-univers: "Univers", sans-serif;