meta(charset="utf-8")
meta(name="viewport" content="width=device-width, initial-scale=1.0")
meta(http-equiv="x-ua-compatible" content="ie-edge")

//- МЕТА
meta(name="description" content="")
meta(name="Keywords" content="")
meta(name="format-detection", content="telephone=no")

//- FAVICON

link(href='https://fonts.googleapis.com/css?family=Montserrat', rel='stylesheet')
link(href='../styles/common.css', rel='stylesheet')