@import "../common/_variables.scss";

.contacts{
	background: url("screen6.png") bottom right no-repeat;

	.fp-tableCell {
		vertical-align: top;
	}

	&__content {
		margin-top: 277px;
		margin-left: 222px;

		&__title {
			margin-bottom: 22px;
			width: 435px;
			font-size: 75px;
			line-height: 65px;
			letter-spacing: -2px;
			color: $color-black;
			transform: translateY(-30px);
			opacity: 0;
			transition: transform 0.6s ease 0.2s, opacity 0.6s ease 0.2s;

			@media (max-height: 830px) {
				margin-bottom: 22 / 830 * 100vh;
				width: 435 / 830 * 100vh;
				font-size: 75 / 830 * 100vh;
				line-height: 65 / 830 * 100vh;
				letter-spacing: -2 / 830 * 100vh;
				transform: translateY(#{-30 / 830 * 100vh});
			}
		}

		&__text {
			width: 435px;
			font-size: 17px;
			line-height: 24px;
			color: $color-black;
			transform: translateY(30px);
			opacity: 0;
			transition: transform 0.6s ease 0.2s, opacity 0.6s ease 0.2s;

			@media (max-height: 830px) {
				width: 435 / 830 * 100vh;
				font-size: 17 / 830 * 100vh;
				line-height: 24 / 830 * 100vh;
				transform: translateY(#{30 / 830 * 100vh});
			}
		}

		&__contacts {
			margin-top: 37px;
			width: 550px;

			&__card {
				display: flex;
				margin-bottom: 32px;
				box-shadow: 2px 3px 7px rgba($color-black, 0.05);

				&__pin {
					position: relative;
					margin: 8px;
					width: 187px;
					height: 160px;
					background-color: $color-lavender-blush;

					&::before {
						content: "";
						position: absolute;
						top: 50%;
						left: 50%;
						display: block;
						width: 64px;
						height: 81px;
						background: url("screen6-pin.png") center no-repeat;
						background-size: contain;
						transform: translate(-50%, -50%);

						@media (max-height: 830px) {
							width: 64 / 830 * 100vh;
							height: 81 / 830 * 100vh;
						}
					}

					@media (max-height: 830px) {
						margin: 8 / 830 * 100vh;
						width: 187 / 830 * 100vh;
						height: 160 / 830 * 100vh;
					}
				}

				&__data {
					padding: 47px 38px 0;

					&__title,
					&__adress,
					&__phone {
						font-size: 17px;
						line-height: 24px;
						color: $color-black;

						@media (max-height: 830px) {
							font-size: 17 / 830 * 100vh;
							line-height: 24 / 830 * 100vh;
						}
					}

					&__title {
						text-transform: uppercase;
					}

					&__phone {
						span {
							color: $color-cranberry;
						}
					}

					@media (max-height: 830px) {
						padding: (47 / 830 * 100vh) (38 / 830 * 100vh) 0;
					}
				}

				&:last-child {
					margin-bottom: 0;
				}

				@media (max-height: 830px) {
					margin-bottom: 32 / 830 * 100vh;
					box-shadow: (2 / 830 * 100vh) (3 / 830 * 100vh) (7 / 830 * 100vh) rgba($color-black, 0.05);
				}
			}

			@media (max-height: 830px) {
				margin-top: 37 / 830 * 100vh;
				width: 550 / 830 * 100vh;
			}
		}

		@media (max-height: 950px) {
			margin-top: 177px;
		}

		@media (max-height: 850px) {
			margin-top: 100px;
		}

		@media (max-width: 1650px) {
			margin-left: 100px;
		}

		@media (max-width: 1450px) {
			margin-left: 30px;
		}
	}

	&.animate {
		.contacts__content__title {
			opacity: 1;
			transform: translateY(0);
		}

		.contacts__content__text {
			opacity: 1;
			transform: translateY(0);
		}
	}

	@media (max-width: 1450px) {
		background-position: bottom right -200px;
	}
}
