.section.contacts
	.contacts__content
		.contacts__content__title
			| Choose #[br] your lipstick
		.contacts__content__text
			| Our best assistants help you to choose your best lipstick
			| that fits you perfectly. You can be consulted in these shops:
		.contacts__content__contacts
			.contacts__content__contacts__card
				.contacts__content__contacts__card__pin
				.contacts__content__contacts__card__data
					.contacts__content__contacts__card__data__title
						| Boutique Dior, Palazzo
					.contacts__content__contacts__card__data__adress
						| 1556 Broadway, suite 416 #[br]
						| New York, NY, 10120, USA
					.contacts__content__contacts__card__data__phone
						| Phone: #[span +7 812 298 90 00]
			.contacts__content__contacts__card
				.contacts__content__contacts__card__pin
				.contacts__content__contacts__card__data
					.contacts__content__contacts__card__data__title
						| Boutique Dior, Palazzo
					.contacts__content__contacts__card__data__adress
						| 1556 Broadway, suite 416 #[br]
						| New York, NY, 10120, USA
					.contacts__content__contacts__card__data__phone
						| Phone: #[span +7 812 298 90 00]